# Diretório de compilação
/target/

# Arquivos de configuração específicos do Maven
*.iml
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Diretórios de configuração de IDEs (IntelliJ, Eclipse, VSCode, etc.)
.idea/
*.classpath
*.project
*.settings/
.vscode/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Logs e dumps
*.log
hs_err_pid*

# Arquivos de cache
*.class
*.war
*.jar
*.db

# Arquivos de configuração sensíveis
*.env
application.properties
application.yml

# Arquivos temporários ou de build
*.tmp
*.bak
*.swp
*.swo

# Arquivos do Lombok
lombok.config
